{% extends "core/dashboard.html" %}
{% load staticfiles %}
{% load humanize %}
{% block dashboard_styles %}
<style>
    .user-row {
        margin: 1rem 0;
        padding: 1rem 0;
        transition: background-color .1s ease-in-out;
    }

    .user-row h5 {
        margin: 0;
        margin-bottom: .25rem;
    }

    .user-row:hover {
        background: #eee;
    }
</style>
{% endblock dashboard_styles %}
{% block dashboard_content %}
<div class="row">
    <div class="col s12 m12 l12">
        <nav class="clean">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="{% url 'dashboard' %}" class="breadcrumb" style="font-size:1rem">Dashboard</a>
                    <a href="{% url 'user_list' %}" class="breadcrumb" style="font-size:1rem">Staff manager</a>
                </div>
            </div>
        </nav>

        <div class="card">
            <div class="card-content">
                <div class="card-title row" style="margin-bottom: 1rem">
                    <h4 class="col s12" style="margin: 0">
                        Users
                    </h4>
                </div>
                <div class="row">
                    <a class="btn-small white waves-effect black-text" style="margin-left: 1rem" href="{% url 'user_new' %}">
                        + Add user
                    </a>
                </div>
                <table class="bordered highlight">
                    <tr>
                        <th>Name</th>
                        <th style="width: 10%">Admin</th>
                        <th style="width: 30%">Major</th>
                        <th style="width: 30%">Email</th>
                    </tr>
                    {% for ts_user in ts_users %}
                    <tr onclick="location.href=`{% url 'user_detail' pk=ts_user.id %}`" style="cursor:pointer">
                        <td>
                            <span class="waves-effect waves-block waves-light profile-button">
                                <span class="avatar-status" style="display: flex; align-items: center;">
                                    <img src="{% static 'images/no-user.png' %}" alt="avatar">
                                    <span style="margin-left: 1rem">{{ ts_user.user.get_full_name }}</span>
                                </span>
                            </span>
                        </td>
                        <td>{% if ts_user.is_admin %}<i class="fas fa-check blue-text" style="margin-left: 1rem"></i>{% endif %}</td>
                        <td>{{ ts_user.major_string }}</td>
                        <td>{% if ts_user.user.email %}{{ts_user.user.email}}{% else %}-{% endif %}</td>
                    </tr>
                    {% empty %}
                    <p>No users have been added</p>
                    {% endfor %}
                </table>

                {% if paginations|length > 1 %}
                <ul class="pagination">
                    {% for page in paginations %}
                    {% if page == pagination %}
                    <li class="active"><a href="{% url 'user_list' %}?p={{ page }}">{{ page }}</a></li>
                    {% else %}
                    <li class="waves-effect"><a href="{% url 'user_list' %}?p={{ page }}">{{ page }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-title row" style="margin-bottom: 1rem">
                    <h4 class="col s12 m6 l8" style="margin: 0">
                        Schedule
                    </h4>
                </div>
                Feature under construction
            </div>
        </div>
    </div>
</div>
{% endblock dashboard_content %}