body {
    background: #222;
}

.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container {
    display: grid;
    grid-column-gap: 1.25rem;
    padding: 2.5rem;
    margin: 1rem;
    background: white;
    max-width: 900px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
    border-radius: .25rem;
}

.login-form-header {
    padding-bottom: 1rem;
}

.login-form-header h1 {
    font-size: 2rem;
    font-weight: bolder;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.login-form h2 {
    font-size: 1.5rem;
}

.text-danger {
    display: block;
    /* box-sizing: border-box; */
    margin-bottom: 1rem;
}

@media only screen and (min-width: 425px) {
    .login-form-header h1 {
        font-size: 2.5rem;
    }
    .login-form-container {
        padding: 5rem;
    }
    .login-form h2 {
        font-size: 2rem;
    }
}

/* tablet */
@media only screen and (min-width: 768px) and (orientation: landscape) {
    .login-form-container {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
    }
    .login-form-header {
        border-bottom: none;
        border-right: solid thin;
        padding-right: 1.25rem;
    }

    .login-form-header h1 {
        text-align: right;
    }
}