$heading-font: 'Roboto Slab', sans-serif;
$main-font: 'Exo 2', sans-serif;
$color-1: #1F363D;
$color-1-light: #27434C;
$color-1-dark: #17282D;
$color-2: #40798C;
$color-2-light: #47869B;
$color-2-dark: #396C7C;
$color-3: #70A9A1;
$color-3-light: #79B7AF;
$color-3-dark: #649992;
$color-4: #9EC1A3;
$color-4-light: #ABD1B1;
$color-4-dark: #92B297;
$color-5: #CFE0C3;
$color-5-light: #DDEFD0;
$color-5-dark: #C1D1B5;

html * {
    font-family: $main-font;
}

h1,
h2 {
    font-family: $heading-font;
}