{% extends "core/dashboard.html" %}
{% load humanize %}

{% block dashboard_content %}
<div class="row">
    <div class="col s12 m12 l12">
        <nav class="clean">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="{% url 'dashboard' %}" class="breadcrumb" style="font-size:1rem">Dashboard</a>
                    <a href="{% url 'pricelist' %}" class="breadcrumb" style="font-size:1rem">
                        Items
                    </a>
                    <a class="breadcrumb" style="font-size:1rem">{{ form.item_name.value|default:"New" }}</a>
                </div>
            </div>
        </nav>
                            
        <div class="card">
            <div class="card-content">
                <div class="card-title row">
                    <h4 class="col s12 m6 l8" style="margin: 0">
                        {% if item_pk %} Edit item {% else %} New Item {% endif %}
                    </h4>
                </div>
                <div class="row">
                    <form enctype="multipart/form-data" class="col s12 m6" method="POST" onsubmit="return confirm('Are you sure?')">
                        {% csrf_token %}
                        <div class="input-field">
                            <input name="{{ form.item_name.html_name }}" id="{{ form.item_name.id_for_label }}" type="text" class="validate" value="{{ form.item_name.value|default:'' }}">
                            <small class="red">{{ form.item_name.errors }}</small>
                            <label for="{{ form.item_name.id_for_label }}">Item name</label>
                        </div>
                        <div class="input-field">
                            <input name="{{ form.item_price.html_name }}" id="{{ form.item_price.id_for_label }}" type="number" step="0.01" class="validate" value="{{ form.item_price.value|default:'' }}">
                            <small class="red">{{ form.item_price.errors }}</small>
                            <label for="{{ form.item_price.id_for_label }}">Item price (Rp)</label>
                        </div>
                        <div class="input-field">
                            <textarea id="{{ form.description.id_for_label }}" class="materialize-textarea" name="{{ form.description.html_name }}">{{ form.description.value|default:'' }}</textarea>
                            <small class="red">{{ form.description.errors }}</small>
                            <label for="{{ form.description.id_for_label }}">Item description</label>
                        </div>
                        <div class="input-field">
                            <style>
                                form p {
                                    text-align: center;
                                }
                            </style>
                            <label for="{{ form.item_image.id_for_label }}">Item image</label>
                            <small class="red">{{ form.item_image.errors }}</small>
                            <input id="{{ form.item_image.id_for_label }}" name="{{ form.item_image.html_name }}" type="file" class="dropify" data-allowed-file-extensions="png jpeg jpg" data-max-file-size="2M"
                                {% if form.item_image.value %}
                                    data-default-file="{{ form.item_image.value.url|default:'' }}"
                                {% endif %}
                            />
                        </div>
                        <button class="btn waves-effect amber darken-4" type="submit">Submit</button>
                        <a class="btn-flat waves-effect" href="{% if item_pk %}{% url 'item_detail' pk=item_pk %}{% else %}{% url 'pricelist' %}{% endif %}">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock dashboard_content %}