{% extends "core/dashboard.html" %}
{% load staticfiles %}
{% load humanize %}
{% block dashboard_styles %}
<style>
    .select-wrapper input.select-dropdown {
        margin-bottom: 0;
    }
</style>
<script>
    var component = false;
</script>
{% endblock dashboard_styles %}

{% block dashboard_content %}
<div class="row">
    <div class="row col s12">
        <nav class="clean">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="{% url 'dashboard' %}" class="breadcrumb" style="font-size:1rem">Dashboard</a>
                    <a href="{% url 'restock_list' %}" class="breadcrumb" style="font-size:1rem">Restock</a>
                    <a class="breadcrumb" style="font-size:1rem">New</a>
                </div>
            </div>
        </nav>
        {% if restockitem_formset.non_form_errors %}
        <div class="card red-text">
            <div class="card-content">
                {% for error in restockitem_formset.non_form_errors %}
                    {{ error|escape }}<br>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <h4 style="padding: 0 0.75rem">
            New restock
        </h4>
        <form enctype="multipart/form-data" id="restock-form" class="col s12" method="POST" onsubmit="return confirm('Are you sure?')">
            {% csrf_token %}
            <div class="input-field">
                <style>
                    form p {
                        text-align: center;
                    }
                </style>
                <div style="margin-bottom: 1rem">
                    <b for="{{ restock_form.restock_proof_of_payment.id_for_label }}">Proof of payment</b>
                </div>
                <small class="red">{{ restock_form.retock_proof_of_payment.errors }}</small>
                <input id="{{ restock_form.restock_proof_of_payment.id_for_label }}" name="{{ restock_form.restock_proof_of_payment.html_name }}" type="file" class="dropify" data-allowed-file-extensions="png jpeg jpg" data-max-file-size="2M"
                    {% if restock_form.retock_proof_of_payment.value %}
                        data-default-file="{{ restock_form.restock_proof_of_payment.value.url|default:'' }}"
                    {% endif %}
                />
            </div>
            <div class="row">
                <div class="col s4 m7">
                    <h6><b>Item</b></h6>
                </div>
                <div class="col s3 m2">
                    <h6><b>Quantity</b></h6> 
                </div>
                <div class="col s3 m2">
                    <h6><b>Cost</b></h6> 
                </div>
                <div class="col s2 m1">
                </div>
            </div>
            {{ restockitem_formset.management_form }}
            <div id="restock-items">
            {% for restockitem_form in restockitem_formset %}
                {% if forloop.first %}
                <script>
                    var component = `<div class="row restock-item">
                                <div class="valign-wrapper">
                                    <div class="col s4 m7">
                                        {{ restockitem_form.item }}
                                    </div>
                                    <div class="col s3 m2">
                                        {{ restockitem_form.quantity }}
                                    </div>
                                    <div class="col s3 m2">
                                        {{ restockitem_form.cost }}
                                    </div>
                                    <div class="col s2 m1">
                                        <button class="delete-item btn-flat" type="button" style="padding-left: 10px; padding-right: 10px">
                                            <i class="fa fa-minus red-text text-darken-4"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>`
                </script>
                {% endif %}
                <div class="row restock-item">
                    <div class="valign-wrapper">
                        <div class="col s4 m7">
                            {{ restockitem_form.item }}
                        </div>
                        <div class="col s3 m2">
                            {{ restockitem_form.quantity }}
                        </div>
                        <div class="col s3 m2">
                            {{ restockitem_form.cost }}
                        </div>
                        <div class="col s2 m1">
                            <button class="delete-item btn-flat" type="button" style="padding-left: 10px; padding-right: 10px">
                                <i class="fa fa-minus red-text text-darken-4"></i>
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col s12 m6 l3">
                    <a class="btn waves-effect grey add-item" style="width:100%">
                        <i class="fas fa-plus" style="font-size:1rem; margin-right: .25rem"></i>
                        Add more items
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button class="btn waves-effect amber darken-4" type="submit">Submit</button>
                    <a class="btn-flat waves-effect" href="{% url 'restock_list' %}">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock dashboard_content %}

{% block dashboard_scripts %}
<script>
    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

    $(document).on('click', '.add-item', function(e) {
        // add component
        $component = $(component);
        $component.find('option').removeAttr('selected');
        $component.find(':input').removeAttr('value');
        $component.appendTo($('#restock-items')).slideDown("fast");
        var instances = M.FormSelect.init($component.find('select'), {});

        // change total value in #id_form-TOTAL_FORMS
        var total = $('#id_form-TOTAL_FORMS').val();
        var $forms = $('.restock-item');
        $('#id_form-TOTAL_FORMS').val(parseInt(total) + 1);

        // update indices
        for (var i=0, formCount=$forms.length; i<formCount; i++) {
            $($forms.get(i)).find(':input').each(function(idx, val) {
                updateElementIndex(this, 'form', i);
            });
        }
    });
    $(document).on('click', '.delete-item', function(e) {
        // remove target
        var $target = $(e.target);
        var $deleted = $target.closest('.restock-item');
        $deleted.slideUp(250, function () {
            $deleted.remove();
        });

        // change total value in #id_form-TOTAL_FORMS
        var total = $('#id_form-TOTAL_FORMS').val();
        var $forms = $('.restock-item');
        $('#id_form-TOTAL_FORMS').val(parseInt(total) - 1);

        // update indices
        for (var i=0, formCount=$forms.length; i<formCount; i++) {
            $($forms.get(i)).find(':input').each(function(idx, val) {
                updateElementIndex(this, 'form', i);
            });
        }
    });
</script>
{% endblock dashboard_scripts %}