{% extends "core/dashboard.html" %}
{% load humanize %}
{% block dashboard_styles %}
<style>
    .restock-row {
        margin: 1rem 0;
        padding: 1rem 0;
        transition: background-color .1s ease-in-out;
    }
    .restock-row h5{
        margin: 0;
        margin-bottom: .25rem;
    }
    .restock-row:hover {
        background: #eee;
    }
</style>
{% endblock dashboard_styles %}
{% block dashboard_content %}
<div class="row">
    <div class="col s12 m12 l12">
        <nav class="clean">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="{% url 'dashboard' %}" class="breadcrumb" style="font-size:1rem">Dashboard</a>
                    <a href="{% url 'restock_list' %}" class="breadcrumb" style="font-size:1rem">Restock</a>
                </div>
            </div>
        </nav>
                            
        <div class="card z-depth-0">
            <div class="card-content">
                <div class="card-title row" style="margin-bottom: 1rem">
                    <h4 class="col s8 l11" style="margin: 0">
                        Restock
                    </h4>
                    <a href="{% url 'restock_new' %}" class="col s4 l1 btn-small amber darken-4">
                        <i class="fa fa-plus"></i>
                        <span>Add</span>
                    </a>
                </div>
                {% for restock in restocks %}
                    <div class="row restock-row valign-wrapper z-depth-1" onclick="location.href=`{% url 'restock_detail' pk=restock.pk %}`" style="cursor: pointer">
                        <div class="col s12">
                            <h5>
                                Restock #{{ restock.pk }}
                            </h5>
                            <p>{{ restock.date_created }}</p>
                        </div>
                    </div>
                    {% empty %}
                    <p>No restocks had been done yet</p>
                {% endfor %}
                {% if paginations|length > 1 %}
                <ul class="pagination">
                    {% for page in paginations %}
                    {% if page == pagination %}
                    <li class="active"><a href="{% url 'restock_list' %}?p={{ page }}">{{ page }}</a></li>
                    {% else %}
                    <li class="waves-effect"><a href="{% url 'restock_list' %}?p={{ page }}">{{ page }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock dashboard_content %}