{% extends "core/dashboard.html" %}
{% load humanize %}

{% block dashboard_content %}
<div class="row">
    <div class="row col s12">
        <nav class="clean">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="{% url 'dashboard' %}" class="breadcrumb" style="font-size:1rem">Dashboard</a>
                    <a href="{% url 'sale_list' %}" class="breadcrumb" style="font-size:1rem">Sales</a>
                    <a class="breadcrumb" style="font-size:1rem">New</a>
                </div>
            </div>
        </nav>           
        <h4 style="padding: 0 0.75rem">
            New sale
        </h4>
        <form id="sale-form" class="col s12" method="POST" onsubmit="return confirm('Are you sure?')">
            <div class="row">
                <div class="col s9 m10">
                    <h6><b>Item</b></h6>
                </div>
                <div class="col s3 m2">
                    <h6><b>Quantity</b></h6> 
                </div>
            </div>
            {% csrf_token %}
            <div id="sale-items">
                <div class="row sale-item">
                    <div class="col s9 m10">
                        <select class="item-select" name="item">
                            {% for item in items %}
                                <option item-price="{{ item.item_price }}" value="{{ item.pk }}">{{ item.item_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col s3 m2">
                        <input name="quantity" type="number" class="validate" value="0" min="0">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 l4">
                    <a class="btn waves-effect grey" style="width:100%" id="item-add">
                        <i class="fa fa-plus"></i>
                        Add more items
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button class="btn waves-effect amber darken-4" type="submit">Submit</button>
                    <a class="btn-flat waves-effect" href="{% url 'sale_list' %}">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock dashboard_content %}

{% block dashboard_scripts %}
<script>
    $('#item-add').click(() => {
        $d = $(`<div class="row sale-item"><div class="col s9 m10"><select class="item-select" name="item">{% for item in items %}<option item-price="{{ item.item_price }}" value="{{ item.pk }}">{{ item.item_name }}</option>{% endfor %}</select></div><div class="col s3 m2"><input name="quantity" type="number" class="validate" value="0" min="0"></div></div>`);
        $('#sale-items').append($d);
        var instances = M.FormSelect.init($d.find('select'), {});
    })
</script>
{% endblock dashboard_scripts %}