{% extends "core/base.html" %}
{% load static %}
{% block title %}
    {{ "Welcome "}}
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/index.min.css' %}">
{% endblock styles %}

{% block content %}
<div class="container valign-wrapper">
    <div class="row center-align">
        <h1 class="">TECHNOSTALL MANAGER</h1>
        <a class="btn-large hide-on-med-and-down grey darken-3 waves-effect waves-effect-light" href="{% url 'login' %}">Login</a>
        <a class="btn show-on-med-and-down hide-on-large-only grey darken-3 waves-effect waves-effect-light" href="{% url 'login' %}">Login</a>
    </div>
</div>
{% endblock content %}