{% extends "core/base.html" %}
{% load static %}
{% block title %}
    {{ "Login "}}
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.min.css' %}">
{% endblock styles %}

{% block content %}
<div class="container login-container">
    <div class="card-panel row hoverable login-form-container">
        <div class="login-form-header">
            <h1>TECHNOSTALL MANAGER</h1>
        </div>
        <form class="login-form" method="POST" action="{% url 'login' %}">
            <h2>Login</h2>
            {% csrf_token %}
            {% if next %}
                {% if user.is_authenticated %}
                <small class="text-danger">Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</small>
                {% else %}
                <small class="text-danger">Please login to see this page.</small>
                {% endif %}
            {% endif %}
            <div class="row">
                <div class="input-field">
                    <input type="text" name="username" id="iusername" aria-describedby="help_username">
                    <label for="username" class="">Username</label>
                    <span id="help_username" class="helper-text">Enter your username</span>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input type="password" class="form-control" name="password" id="password">
                    <label for="password" class="">Password</label>
                </div>
                {% if error %}
                <small class="red-text text-lighten-2">Your username and password didn't match. Please try again.</small>
                {% endif %}
            </div>
            <button class="btn waves-effect waves-effect-light" type="submit" value="login">SUBMIT</button>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script>
    $(document).ready(() => M.updateTextFields());
</script>
{% endblock scripts %}